body{
  background: #1b1b1b;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: visible;
    background: #011d28 url('loader.gif') no-repeat center center;
  	background-size: contain;
}

.top-bar{
	color:white;
	background: #535353;
	height: 40px;
}
.top-bar2{
	background: #d1d1d1;
	height: 30px;
	margin-bottom: -20px;
}
#centered-in-nav{
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	color:white;
	font-size: 18px;
	opacity: 0.6;
}

.sidebar{
	background-color: #535353;
	height:100vh;
}

.sb-box{
/*	display: flex;
  	justify-content: center;
  	align-items: center;
	height:50px;
*/	background-color: #535353;
	transition: 0.7s;
	border: none;
}
.sb-box:hover{
	background-color: #1b1b1b;
}

.imagebar{
	background-color: #1b1b1b;
	height:100vh;
}
.aboutbar{
	background-color: #4c4c4c;
	height:100vh;
}

.navbar-fixed-bottom {
  /*background-color: #333;*/
  position: fixed;
  bottom: 0;
  z-index:998;
  /*width: 100%;*/
  height: 5vh;
}

.about-bottom{
  position: fixed;
  bottom: 6%;
  /*margin-bottom: 10%;*/
}



.ico:hover {
  animation: shake 0.3s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(0px, -10px) rotate(0deg); }
  10% { transform: translate(0px, -10px) rotate(1deg); }
  20% { transform: translate(0px, -10px) rotate(2deg); }
  30% { transform: translate(0px, -10px) rotate(3deg); }
  40% { transform: translate(0px, -10px) rotate(4deg); }
  50% { transform: translate(0px, -10px) rotate(5deg); }
  60% { transform: translate(0px, -10px) rotate(4deg); }
  70% { transform: translate(0px, -10px) rotate(3deg); }
  80% { transform: translate(0px, -10px) rotate(2deg); }
  90% { transform: translate(0px, -10px) rotate(1deg); }
  100% { transform: translate(0px,-10px) rotate(0deg); }
}

a{
  	color: inherit; /* blue colors for links too */
  	text-decoration: inherit; /* no underline */
}
a:hover{
  	color: inherit; /* blue colors for links too */
  	text-decoration: inherit; /* no underline */
}
